# No log files
*.log

# Ignore all hidden files, except this one
.*
!.gitignore
!.travis.yml
!.circleci/

#IntelliJ stuff
*.iml

#VS Code stuff
bin

# Build Directories
build/
out/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar
